
.places{
    height: 150px;
    width: 150px;
}

body{
    background-color: #e0e0e0;
    margin: 0%;
    min-height: 100vh;
}
#header{
    background-color: rosybrown;
    margin: 0px;
    padding: 0px;
    position: sticky;
    top: 0%;
    width: 100%;
}
.login{
    text-decoration: none;
    color: black;
    float: right;
    margin-right: 2%;
    margin-top: 1.5%;
}
.logo{
    height: 60px;
    width: 60px;
    vertical-align: middle;
    margin-left: 1%;
}

#search{
    background-image: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 380px;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

#searchBar > input{
    background-color: #f1f1f1;
    border: 1px solid transparent;
    border-radius: 12px;
    width: 400px;
    font-size: 16px;
    padding: 10px;
}
.cities {
    margin-left: 15%;
    margin-right: 15%;
    
}
.places{
    padding: 4%;
    border-radius: 25%;
}
#viewmore{
    text-align: center;
    margin-bottom: 30px;
}
#viewmore > a{
    text-decoration: none;
    color: black;
}
footer{
    background-color: rosybrown;
    position: sticky;
    bottom: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
}
.social{
    height: 20px;
    width: 22px;
}
#contactus > a{
    text-decoration: none;
    color: black;   
}
#copy > p{
    margin-bottom: 0%;
    margin-top: 18%;
}
